section.section.calendar
  .site-container
    .calendar__wrapper
      h2.calendar__title Мероприятия на&nbsp #[span 18 апреля]
      .calendar__inner
        .calendar__table
          .calendar__table-month
            button.calendar__table-month-btn.calendar__table-month-btn-left
              img(src="assets/images/calendar-arrow.svg" alt="")
            .calendar__table-month-box
              img(src="assets/images/calendar.svg" alt="")
              .calendar__table-month-box-text Апрель 2024
            button.calendar__table-month-btn.calendar__table-month-btn-right
              img(src="assets/images/calendar-arrow.svg" alt="")
          table.calendar__table-days
            tr
              th Пн
              th Вт
              th Ср
              th Чт
              th Пт
              th Сб
              th Вс
            tr
              td.no-active 31
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
            tr
              td 7
              td 8
              td 9
              td 10
              td 11
              td 12
              td 13
            tr
              td 14
              td 15
              td 16
              td 17
              td.today 18
              td 19
              td 20
            tr
              td 21
              td 22
              td 23
              td 24
              td 25
              td 26
              td 27
            tr
              td 28
              td 29
              td 30
              td.no-active 1
              td.no-active 2
              td.no-active 3
              td.no-active 4
        ul.calendar__list
          li.calendar__list-item
            ul.calendar__list-item-tags
              li.calendar__list-item-tag Очень длинный тэг
              li.calendar__list-item-tag Очень длинный
              li.calendar__list-item-tag Очень длинный тэг
              li.calendar__list-item-tag тэг
              li.calendar__list-item-tag Очень тэг
            p.calendar__list-item-text
              | Международная научно-практическая конференция: “Переход от образовательной среды к образовательной экосистеме в интересах устойчивого развития””
            .calendar__list-item-btns
              button.btn.btn--light Написать
              a.calendar__list-item-btn(href="#") Подробнее
                +icon-multi('arrow-right')(width="24px" height="24px")
          li.calendar__list-item
            ul.calendar__list-item-tags
              li.calendar__list-item-tag Образование
              li.calendar__list-item-tag Очное
              li.calendar__list-item-tag Студенты
            p.calendar__list-item-text
              | Международная научно-практическая конференция: “Переход от образовательной среды к образовательной экосистеме в интересах устойчивого развития””
            .calendar__list-item-btns
              button.btn.btn--light Написать
              a.calendar__list-item-btn(href="#") Подробнее
                +icon-multi('arrow-right')(width="24px" height="24px")
          li.calendar__list-item
            ul.calendar__list-item-tags
              li.calendar__list-item-tag Образование
              li.calendar__list-item-tag Очное
              li.calendar__list-item-tag Студенты
            p.calendar__list-item-text
              | Международная научно-практическая конференция: “Переход от образовательной среды к образовательной экосистеме в интересах устойчивого развития””
            .calendar__list-item-btns
              button.btn.btn--light Написать
              a.calendar__list-item-btn(href="#") Подробнее
                +icon-multi('arrow-right')(width="24px" height="24px")
          li.calendar__list-item
            ul.calendar__list-item-tags
              li.calendar__list-item-tag Образование
              li.calendar__list-item-tag Очное
              li.calendar__list-item-tag Студенты
            p.calendar__list-item-text
              | Международная научно-практическая конференция: “Переход от образовательной среды к образовательной экосистеме в интересах устойчивого развития””
            .calendar__list-item-btns
              button.btn.btn--light Написать
              a.calendar__list-item-btn(href="#") Подробнее
                +icon-multi('arrow-right')(width="24px" height="24px")
