.menu {
  position: absolute;
  top: 9.6rem;
  right: 0;
  z-index: 10;
  display: none;
  width: 100%;
  padding: 1.6rem 0 2.4rem;
  background-color: #fff;
  border-top: 2px solid rgba(108, 111, 117, 0.3);
  transform: translate3d(0, -100%, 0);
  transition: transform 0.5s;

  @include mq(sm) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .nav {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .nav__list {
    flex-direction: column;
    gap: 0;
  }

  .nav__item {
    width: 100%;
  }

  .nav__link {
    display: block;
    padding: 0.8rem 2.4rem;
    text-align: end;
  }

  &.active {
    transform: translate3d(0, 0, 0);
  }

  .header__telephone-link {
    margin: auto 0;
    padding: 0.8rem 2.4rem;
    font-size: 2.4rem;
  }
}
